.desktop {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .div {
  background-color: #ffffff;
  width: 1280px;
  height: 1024px;
  position: relative;
}

.desktop .gasser-media-logo {
  position: absolute;
  width: 450px;
  height: 100px;
  top: 50px;
  left: 73px;
  object-fit: cover;
}

.desktop .text-wrapper {
  position: absolute;
  top: 234px;
  left: 106px;
  font-family: "Nunito-Bold", Helvetica;
  font-weight: 700;
  color: #333333;
  font-size: 42px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .frame {
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px 20px;
  position: absolute;
  top: 632px;
  left: 243px;
  background-color: #5271ff;
  border-radius: 15px;
}

.desktop .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Nunito-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}
